/* RESETER VALORES DEL NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 62.5%;
}

/* TITULO */
.tituloContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin: 1rem 0;
    font-size: 4.5rem;
    text-align: center;
    border-bottom: .2rem solid #000;
}

/* INGRESAR NOMBRE JUGADOR */
.sectionInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.infoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombreContainer{
    display: flex;
    flex-direction: column;
}

.nombreContainer label, .nombreContainer input, .btnContainer button{
    font-size: 2rem;
}

.equiposPosibles ul{
    display: flex;
    align-items: center;
    justify-content: center;
}


.equiposPosibles ul li{
    width: 15rem;
    list-style: none;
    margin: 0 2rem;
    padding: .2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.equipo{
    width: 9rem;
    height: 9rem;
}

.equipoElegido{
    background-color: #ffb464;
}

.equipoNoElegido{
    background-color: #fff;
}

/* esto para hacer desaparecer el input de nombre,equipo y btn de juggar */
.infoCompleta{
    display: none;
}

/* RONDAS */
.rondasContainer {
    background-color: rgb(249, 140, 140);
    padding: 1.5rem;
    display: flex;
    font-size: 3rem;
    font-weight: 800;
}

.rondas {
    flex-grow: 1;
}


/* JUEGO */
.sectionJuego,.juegoTerminadoMensaje {
    background-color: rgb(251, 221, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juegoTerminado{
    display: none;
}

.juegoTerminadoMensaje p, .juegoTerminadoMensaje button{
    font-size: 2rem;
    font-weight: 600;
}

/* PREGUNTAS */
.preguntaContainer {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    background-color: rgb(255, 150, 4);
    width: 100%;
}

/* OPCIONES */
.opcionesContainer ul{
    margin: 3rem 0;
}

.opcionesContainer ul li {
    list-style: none;
    margin-top: 1rem;
}

.opcionesContainer ul li input {
    background-color: rgb(255, 146, 4);
    width: 100%;
    font-size: 4rem;
    margin-top: 2rem;
    padding: 0 .2rem;
}

/* info jugador */
.divInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signoPregunta{
    width: 2rem;
    height: 2rem;
}

.imgEquipoInfo{
    width: 8rem;
    height: 4rem;
}

/* PUNTOS DEL JUGADOR ACTUAL */
.puntuacionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 133, 255);
}

.jugadorActual,.jugador,.puntos{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    width: 50rem;
}

/* TOP jugadores container*/
.topJugadores{
    background-color: #a2a0a0;
    margin-top: 2rem;
}

/* TITULO jugadores top */
.trofeoContainer{
    background-color: #9982f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topJugadoresTitulo{
    font-size: 4rem;
    font-weight: 800;
    color: #fbf780;
    border-bottom: solid .2rem rgb(255, 0, 0);
}

.tofeoImg{
    width: 8rem;
    height: 8rem;
}

/* MEJORES JUGADORES */
.equiposRanking{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.equipos{
    background-color: #fff;
    margin-bottom: 1rem;
}

.equiposTitulo p{
    background-color: #ff8400;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}

.equiposLista ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .2rem 1rem;
}

.equiposLista ul li{
    list-style: none;
    font-size: 3rem;
    font-weight: 800;
    border-bottom: solid .2rem #bfbfbf;
    text-align: left;
    width: 100%;
    margin-bottom: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equiposLista ul li img {
    width: 15rem;
    height: 15rem;
}

.jugadoresContainer, .equipos{
    margin-top: 1rem;
    width: 500px;
}

.jugadoresContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #bd3131;
    padding: 1rem;
}

.jugadoresContainer ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 1rem 0;
}

.jugador{
    background-color: #ff8400;
}

.puntos{
    text-align: center;
}

.puntosEuipo{
    margin-top: 2rem;
    display: flex;
    background-color: #0073d7;
}

.puntosEuipo p{
    margin-left: .5rem;
    font-size: 3rem;
    font-weight: 800;
}