/* RESETER VALORES DEL NAVEGADOR */
* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 62.5%;
}

/* NAVBAR */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4f438e;
}

nav{
    flex-grow: 4;
    padding: 1rem;
    height: 100%;
}

nav ul{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.liPage{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liPage a{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.liPage a:hover{
    background-color: hotpink;
}

#headersBtnContainer{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

#headersBtnContainer button{
    font-size: 2rem;
    padding: .2rem;
    margin-left: .8rem;
}

#cambiarInfo a,#cerrarSesion a{
    text-decoration: none;
    color: #000;
}

/* LOGIN.html */
#logYRegContainer{
    height: 100vh;
    background-color: #6ca6d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #046fcc;
    border-radius: 5%;
    padding: 1rem;
    height: 80%;
}

.btnOpcion button{
    font-size: 2rem;
    margin: 1rem;
    padding: .2rem;
}

#login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

#iniciarSesion,#registrarse{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#registrarse{
    display: none;
}

#logTitulo p,#regTitulo p{
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    margin: 1rem 0;
}

#logDatos,#regDatos{
    margin-bottom: 1.5rem;
}

#logDatos div,#regDatos div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#logDatos div label,#regDatos div label {
    font-size: 3rem;
    margin: .5rem 0;
}

#logDatos div input,#regDatos div input {
    font-size: 3rem;
    margin: .5rem 0;
}

.btnLogContainer,.btnRegContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnLog,#btnReg{
    border-radius: 10%;
}

#btnLog:hover,#btnReg:hover {
    border-radius: 10%;
    background-color: #bd3131;
}

#btnLog,#btnReg{
    color: #000;
    font-size: 2.5rem;
}

/* MENSAJE */
.msg, .msg2{
    font-size: 2rem;
    font-weight: 500;
    border: #000 solid .1rem;
    padding: .2rem;
    text-align: center;
    display: none;
}

.msgCor{
    background-color: #7df179;
}

.msgInc{
    background-color: #f17979;
}

.msg p, .msg a, .msg2 p, .msg2 a{
    font-size: 2rem;
    padding: .2rem;
}

.msg a , .msg2 a{
    text-decoration: none;
}

/* QUIZ.HTML */
/* TITULO */
.tituloContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin: 1rem 0;
    font-size: 4.5rem;
    text-align: center;
    border-bottom: .2rem solid #000;
}

/* INGRESAR NOMBRE JUGADOR */
.sectionInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.infoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.equiposPosibles ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.equiposPosibles ul li{
    width: 15rem;
    list-style: none;
    margin: 0 2rem;
    padding: .2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.equipo{
    width: 9rem;
    height: 9rem;
}

.equipoElegido{
    background-color: #ffb464;
}

.equipoNoElegido{
    background-color: #fff;
}

#btnJugar{
    font-size: 2rem;
}

/* esto para hacer desaparecer el input de nombre,equipo y btn de juggar */
.infoCompleta{
    display: none;
}

.msgJuegoIniciado{
    font-size: 2rem;
    font-weight: 500;
    border: #000 solid .1rem;
    padding: .2rem;
    text-align: center;
    background-color: #7df179;
}

/* RONDAS */
.rondasContainer {
    background-color: rgb(249, 140, 140);
    padding: 1.5rem;
    display: flex;
    font-size: 3rem;
    font-weight: 800;
}

.rondas {
    flex-grow: 1;
}


/* JUEGO */
.sectionJuego,.juegoTerminadoMensaje {
    background-color: rgb(251, 221, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.juegoTerminado{
    display: none;
}

/* .juegoTerminadoMensaje p, .juegoTerminadoMensaje button{
    font-size: 2rem;
    font-weight: 600;
} */

/* NUEVO JUEGO */
#msgJuegoTerminado {
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0;
    padding: 1rem;
}

#btnJuegoNuevo {
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: 5rem;
    border-radius: 10%;
}

#btnJuegoNuevo:hover {
    background-color: hotpink;
}
.juegoContainer{
    display: none;
}

/* PREGUNTAS E INSTRUCCIONES */
.preguntaContainer,.instruccionesContainer{
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    background-color: rgb(255, 150, 4);
    width: 100%;
}

/* OPCIONES */
.opcionesContainer ul{
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opcionesContainer ul li {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

.opcionesContainer ul li input {
    background-color: rgb(255, 146, 4);
    width: 100%;
    font-size: 4rem;
    padding: 0 .2rem;
}

/* info jugador */
.divInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 .5rem 0;
}

.signoPregunta{
    width: 2rem;
    height: 2rem;
}

.imgEquipoInfo{
    width: 8rem;
    height: 4rem;
}

/* PUNTOS DEL JUGADOR ACTUAL */
.puntuacionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 133, 255);
}

.jugadorActual,.jugador,.puntos{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    width: 50rem;
}

.puntosJugador,.incorrectas{
    margin: 2rem 0 .5rem 0;
}

/* RANKING.HTLM */
/* TOP jugadores container*/
.topJugadores{
    background-color: #a2a0a0;
}

/* TITULO jugadores top */
.trofeoContainer{
    background-color: #9982f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.topJugadoresTitulo{
    font-size: 4rem;
    font-weight: 800;
    color: #fbf780;
    border-bottom: solid .2rem rgb(255, 0, 0);
}

.tofeoImg{
    width: 8rem;
    height: 8rem;
}

/* MEJORES JUGADORES */




.equiposRanking{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.equipos{
    background-color: #fff;
    margin-bottom: 1rem;
}

.equiposTitulo p{
    background-color: #ff8400;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
}

.equiposLista ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .2rem 1rem;
}

.equiposLista ul li{
    list-style: none;
    font-size: 3rem;
    font-weight: 800;
    border-bottom: solid .2rem #bfbfbf;
    text-align: left;
    width: 100%;
    margin-bottom: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equiposLista ul li img {
    width: 15rem;
    height: 15rem;
}

/* tabla de posiciones */
.jugadoresContainer, .equipos{
    margin-top: 1rem;
    width: 500px;
}

.jugadoresContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #bd3131;
    padding: 1rem;
}

.jugadoresContainer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jugadoresContainer ul li{
    list-style: none;
    background-color: #fff;
    margin: 1rem 0;
}

.jugador{
    background-color: #ff8400;
}

.puntos{
    text-align: center;
}

.puntosEuipo{
    margin-top: 2rem;
    display: flex;
    background-color: #0073d7;
}

.puntosEuipo p{
    margin-left: .5rem;
    font-size: 3rem;
    font-weight: 800;
}